<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colors2web.clientportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_voxship"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_voxship"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.Navigation.HomeActivity"/>
        <activity android:name=".LoginActivity"/>

        <activity android:name=".Activities.BarCodeActivity.Barcode_ScanActivity"/>
        <activity android:name=".Activities.BarCodeActivity.ScannerActivity"/>
        <activity android:name=".Activities.BarCodeActivity.BarcodeMain"/>

        <activity android:name=".Activities.View_dr_historyActivity"
            android:label="DrShipment History">

            </activity>


    </application>

</manifest>